body
{
background-color:deepskyblue;
}

#one
{
width:300px;
height:500px;
background-color:green;
margin:0 auto;
text-align:center;
color:white;
}

#two
{
width:400px;
height:500px;
background-color:orange;
margin:0 auto;
text-align:center;
color:green;
}

#three
{
width:500px;
height:500px;
background-color:white;
margin:0 auto;
text-align:center;
color:orange;
}